#ifndef ENV_H
#define ENV_H

// -------------------- PINS
#define BOARD_LED (15)
#define BATTERY_PIN (34)
#define MOTOR_LEFT_BACKWARD (14)
#define MOTOR_LEFT_FORWARD (13)
#define MOTOR_RIGHT_BACKWARD (4)
#define MOTOR_RIGHT_FORWARD (27)
#define ULTRASONIC_TRIGGER (25)
#define ULTRASONIC_ECHO (26)
#define INFRARED_LEFT (36)
#define INFRARED_RIGHT (39)
#define INFO_LED (43)

// -------------------- ENVIRONMENTS
#define WIFI_SSID ("")
#define WIFI_PASSWORD ("")
#define WEBSOCKET_URI ("ws://localhost:8080")
#define WEBSOCKET_PORT (4567)

#endif  // ENV_H
