#ifndef ENV_H
#define ENV_H

// -------------------- PINS
#define BOARD_LED (15)
#define BATTERY_PIN (34)
#define MOTOR_LEFT_BACKWARD (14)
#define MOTOR_LEFT_FORWARD (13)
#define MOTOR_RIGHT_BACKWARD (4)
#define MOTOR_RIGHT_FORWARD (27)
#define ULTRASONIC_TRIGGER (25)
#define ULTRASONIC_ECHO (26)

// -------------------- ENVIRONMENTS
#define WIFI_SSID ("")
#define WIFI_PASSWORD ("")
#define WEBSOCKET_URI ("ws://localhost")
#define WEBSOCKET_PORT (8080)
#define WEBSOCKET_PEM                                                   \
  ("-----BEGIN CERTIFICATE-----\n"                                      \
   "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\n" \
   "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\n" \
   "-----END CERTIFICATE-----\n\0")

#endif  // ENV_H
